/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 22/07/2020, 16:56:59
    Author     : Luiz
*/

$border-variabel: #D3D3D3;
$background-color-btn-green: #228B22;
$background-color-white: #FFFFFF;
$background-color-footer: #DCDCDC